body {
    position: relative;
    min-height: 90vh;
    width: 100%;
}

#logoImg {
    margin-left: 5em;
    object-fit: contain;
    border: none;
    background-color: transparent;
}

#photoImg {
    margin-left: 5em;
    width: 250px;
    object-fit: contain;
    border: none;
}

#photoName {
    color: white;
    text-align: center;
    margin-left: 2em;
    font-size: 2em;
}

#profilContent {
    position: relative;
}

#photoFile {
    display: none;
}

#newPhotoFile {
    cursor: pointer;
    width: 50px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#logo {
    padding-right: 5em;
    padding-bottom: 82vh;
    background: rgb(185,43,39);
    background: linear-gradient(90deg, rgba(185,43,39,1) 21%, rgba(21,101,192,1) 100%);
}

#login {
    width: 100%;
    margin-left: 5em;
    margin-right: 1em;
}

#register {
    width: 100%;
    margin-left: 5em;
    margin-right: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 98%;
    padding-top: 1.5em;
    height: 2.5rem; 
}

/* .btn {
    background: rgb(185,43,39);
    background: linear-gradient(90deg, rgba(185,43,39,1) 21%, rgba(21,101,192,1) 100%);
    color: #FFF;
}

.btn:hover {
    opacity: 85%;
    color: antiquewhite;
} */
.card .pubHeader img{
    border: solid transparent;
    border-radius: 10rem;
    height:2.5rem;
    width:2.5rem;
}
.card .pubHeader .visibilité{
    display: inline-block;
}

.card .pubHeader .visibilité img{
  
    height: 2rem;
    width:2rem;
}

.navbar-brand img{
    height:3.3rem;
    width:3.5rem;
}
/*.btn-secondary.dropdown-toggle {
    
    background-color:none;
    border-color: none;
}
*/
.dropdown button {
    background-color: transparent;
    border: none;
    width:4.5rem;
}
.dropdown button:hover , .dropdown-item:active  {
    background-color: transparent;
  
}

.dropdown{
    width:2.5rem; 
    display:inline;
}

.dropdown-menu {
    min-width: 1rem;
}

.card-footer .card-img-top {
    height:2rem;
    width:2rem;
    display:inline;
}

.submitLike{
    display:inline;
}

.user{
    display:inline-block;
    width:35rem;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #fff;
    border-color:#fff;
}
.card-text{
    white-space:pre;
    }
/*
.iconFooter{
    display:inline; 
}

input[type=image]{
    display:inline-block; 
}*/
.fakeTextInput {
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
    background-color: transparent;
}

.fakeTextInput:focus {
    border: none;
    outline: none;
}

#deleteAccount {
    width: 100%;
}
