body {
    position: relative;
    min-height: 90vh;
    width: 100%;
}

#logoImg {
    margin-left: 5em;
    object-fit: contain;
    border: none;
    background-color: transparent;
}

#logo {
    padding-right: 10em;
    padding-bottom: 82vh;
    background: rgb(185,43,39);
    background: linear-gradient(90deg, rgba(185,43,39,1) 21%, rgba(21,101,192,1) 100%);
}

#login {
    width: 100%;
    margin-left: 5em;
    margin-right: 1em;
}

#register {
    width: 100%;
    margin-left: 5em;
    margin-right: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 98%;
    padding-top: 1.5em;
    height: 2.5rem; 
}

/* .btn {
    background: rgb(185,43,39);
    background: linear-gradient(90deg, rgba(185,43,39,1) 21%, rgba(21,101,192,1) 100%);
    color: #FFF;
}

.btn:hover {
    opacity: 85%;
    color: antiquewhite;
} */

.card .pubHeader img{
    border: solid transparent;
    border-radius: 10rem;
    height:2.5rem;
    width:2.5rem;
}
.card .pubHeader .visibilité{
    display: inline;
}

.card .pubHeader .visibilité img{
  
    height: 2rem;
    width:2rem;
}

.navbar-brand img{
    height:3.6rem;
    width:4rem;
}

.dropdown button img , .dropdown-item img{
    height:-1rem;
    width:-1rem;
}

.dropdown button {
    background-color: transparent;
    border: none;
    width:4.5rem;
}
.dropdown button:hover , .dropdown-item:active  {
    background-color: transparent;
  
}

.dropdown{
    width:2.5rem; 
    display:inline;
}
/*
.dropdown-menu{
    width: -10rem !important; 
   
}*/

.card-footer .card-img-top {
    height:2rem;
    width:2rem;
}